.Contact{
    height: 100vh;
    width: 100%;
    background-color: rgb(43, 42, 42);
}
.Contact-Header-Name{
    padding-top:30px;
    font-size:40px;
    text-transform: uppercase;
}
.Contact-Content{

    margin-top: 50px;
    font-size: 20px;

}